<h1><%= @student.to_s %></h1>
<% if @student.active %>
<p> This student is currently active. <%= link_to "Make inactive", activate_student_path(@student) %> </p>
<% else %>
<p>This student is currently inactive. <%= link_to "Make active", activate_student_path(@student) %> </p>
<% end %>

